language: cpp

stages:
  - build
  - test

addons:
  apt:
    update: true
    packages:
      - qt5-default
      - qtmultimedia5-dev
      - lcov

  homebrew:
    update: true
    packages:
      - qt5
      - lcov

jobs:
  include:

    ###############################
    ##            TEST
    ###############################

    - stage: test
      os: linux
      compiler: gcc
      install: &install_linux
        - wget https://github.com/Kitware/CMake/releases/download/v3.15.7/cmake-3.15.7-Linux-x86_64.tar.gz
        - tar -xf cmake-3.15.7-Linux-x86_64.tar.gz
        - export PATH=`pwd`/cmake-3.15.7-Linux-x86_64/bin:$PATH
      before_script: &before_script
        - mkdir build
        - cd build
      script: &script_linux_test
        - cmake ..
        - make am_tests
        - ./bin/am_tests

    - stage: test
      os: linux
      compiler: clang
      install: *install_linux
      before_script: *before_script
      script: *script_linux_test

    - stage: test
      os: osx
      compiler: gcc
      install: &install_macos
        - wget https://github.com/Kitware/CMake/releases/download/v3.15.7/cmake-3.15.7-Darwin-x86_64.tar.gz
        - tar -xf cmake-3.15.7-Darwin-x86_64.tar.gz
        - export PATH=`pwd`/cmake-3.15.7-Darwin-x86_64/bin:$PATH
      before_script: *before_script
      script: &script_macos_test
        - cmake .. -DCMAKE_PREFIX_PATH=/usr/local/Cellar/qt/5.14.1
        - make am_tests
        - ./bin/am_tests

    - stage: test
      os: osx
      compiler: clang
      install: *install_macos
      before_script: *before_script
      script: *script_macos_test

    ###############################
    ##            BUILD
    ###############################
    - stage: build
      os: linux
      compiler: gcc
      install: *install_linux
      before_script: *before_script
      script: &script_linux_build
        - cmake ..
        - make advancedmetronome

    - stage: build
      os: linux
      compiler: clang
      install: *install_linux
      before_script: *before_script
      script: *script_linux_build

    - stage: build
      os: osx
      compiler: gcc
      install: *install_macos
      before_script: *before_script
      script: &script_macos_build
        - cmake .. -DCMAKE_PREFIX_PATH=/usr/local/Cellar/qt/5.14.1
        - make advancedmetronome

    - stage: build
      os: osx
      compiler: clang
      install: *install_macos
      before_script: *before_script
      script: *script_macos_build