language: cpp

stages:
  - build & test

compiler:
  - gcc
  - clang

addons:
  apt:
    update: true
    packages:
      - qt5-default
      - qtmultimedia5-dev

  homebrew:
    update: true
    packages:
      - qt5

jobs:
  include:
    - stage: build & test
      os: linux
      install: &install_linux
        - wget https://github.com/Kitware/CMake/releases/download/v3.15.7/cmake-3.15.7-Linux-x86_64.tar.gz
        - tar -xf cmake-3.15.7-Linux-x86_64.tar.gz
        - sudo ln -s ${TRAVIS_BUILD_DIR}/cmake-3.15.7-Linux-x86_64/bin/cmake /home/travis/bin/cmake
      before_script: &before_script_linux_macos
        - mkdir build
        - cd build
      script: &script_linux_macos
        - cmake ..
        - ./bin/am_tests

    - stage: build & test
      os: osx
      install: &install_macos
        - wget https://github.com/Kitware/CMake/releases/download/v3.15.7/cmake-3.15.7-Darwin-x86_64.tar.gz
        - tar -xf cmake-3.15.7-Darwin-x86_64.tar.gz
        - sudo ln -s ${TRAVIS_BUILD_DIR}/cmake-3.15.7-Linux-x86_64/bin/CMake.app /home/travis/bin/CMake.app
      before_script: *before_script_linux_macos
      script: *script_linux_macos