language: cpp

stages:
  - build & test

addons:
  apt:
    update: true
    packages:
      - qt5-default
      - qtmultimedia5-dev

  homebrew:
    update: true
    packages:
      - qt5

jobs:
  include:
    - stage: build & test
      os: linux
      compiler: gcc
      install: &install_linux
        - wget https://github.com/Kitware/CMake/releases/download/v3.15.7/cmake-3.15.7-Linux-x86_64.tar.gz
        - tar -xf cmake-3.15.7-Linux-x86_64.tar.gz
        - export PATH=`pwd`/cmake-3.15.7-Linux-x86_64/bin:$PATH
        - brew link qt5 --force
      before_script: &before_script_linux_macos
        - mkdir build
        - cd build
      script: &script_linux_macos
        - cmake ..
        - make am_tests
        - ./bin/am_tests

    - stage: build & test
      os: linux
      compiler: clang
      install: *install_linux
      before_script: *before_script_linux_macos
      script: *script_linux_macos

    - stage: build & test
      os: osx
      compiler: gcc
      install: &install_macos
        - wget https://github.com/Kitware/CMake/releases/download/v3.15.7/cmake-3.15.7-Darwin-x86_64.tar.gz
        - tar -xf cmake-3.15.7-Darwin-x86_64.tar.gz
        - export PATH=`pwd`/cmake-3.15.7-Darwin-x86_64/bin:$PATH
      before_script: *before_script_linux_macos
      script: *script_linux_macos

    - stage: build & test
      os: osx
      compiler: clang
      install: *install_macos
      before_script: *before_script_linux_macos
      script: *script_linux_macos